{%extends "layout.html"%}

{%block title%}
Try it Out
{%endblock%}

{%block head%}
<link rel = "stylesheet" href = "/static/css/preflip.css?v=1.00">
<style>
    .main.short {
        min-height:600px;
    }
    .dumbcss {
        font: normal normal normal 25px Montserrat;
        color: #FFFFFF;
    }
    .back-img.noice {
        min-height:600px;
    }
    .smh {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height:100%;
    }
    .texter {
        width:50%;
        height:80%;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        padding-top:0px;
    }
    .grams {
        font: normal normal normal 100px/140px Rockwell;
        color: #FFFFFF;
        text-align:center;
    }
    .scale {
        font: normal normal normal 40px Montserrat;
        color: #FFFFFF;
    }
    .sub-subj {
        min-height:400px;
        z-index:-1;
        width:100%;
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .co2 {
        font: normal normal normal 60px/80px Rockwell;
        color: #6F2B6F;
        text-align: center;
    }
    .data-value {
        font: normal normal normal 70px/80px Rockwell;
        letter-spacing: 0px;
        color: #000000;
    } 
    .javadasub {
        font: normal normal normal 35px/49px Montserrat;
        letter-spacing: 0px;
        color: #000000;
    }
    .not-epic {
        height:200px;;
    }
    .box {
        width:100%;
        background: #FAFAFADD 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 15px;
        height:400px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    .upload-me {
        padding-top:20px;
        font: normal normal normal 25px Montserrat;
        color: #383838;
    }
    .display-file {
    opacity: 0; 
    width:100%;
    height: 100%;
    position: absolute;
    }

</style>
{%endblock%}

{%block body%}

<div id = "epic">

</div>
<script src = "/static/js/inputs/Image.js" type = "text/babel" ></script>
<script src = "/static/js/sub/Data.js" type = "text/babel" ></script>
<script src = "/static/js/main/Img_Input.js" type = "text/babel"></script>
{%endblock%}